* {
	box-sizing: border-box;
}
body {
	color: white;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
}

/** SCROLL**/
body::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(129, 120, 120, 0.541);
	border-radius: 12px;
}
body::-webkit-scrollbar-track {
	background-color: transparent;
}

input[type="checkbox"] {
	cursor: pointer;
}
/** SCROLL**/
.custom-scroll {
	overflow: auto;
	width: 100%;
}
.custom-scroll::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(161, 156, 156, 0.459);
	border-radius: 12px;
}
.custom-scroll::-webkit-scrollbar-track {
	background-color: transparent;
}

.cost-style {
	font-size: 16px;
	color: #ff0000;
	text-align: right;
	cursor: pointer;
}
.custom-link {
	margin: 0;
	padding: 0;

	font-size: 15px;
	color: #0d6efd;
	text-decoration: underline;

	border: none;
	outline: none;

	background-color: transparent;

	cursor: pointer;

	&:hover {
		color: #659ef3;
	}
}
.custom-text--dange {
	color: #dc3545;
}
.custom-text--success {
	color: #198754;
}

// DIALOG
.dialog-container {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(87, 85, 85, 0.39);

	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
