.group-detail {
	&__member {
		&__list {
			&__item {
				&__extension {
					opacity: 0.6;
				}
			}
		}
	}

	&__title {
		text-align: center;
	}
	&__form-add {
		display: flex;
		&__btn-container {
			display: flex;
			justify-content: flex-end;
		}
		form {
			display: flex;
			flex-direction: column;
			gap: 0.5em;

			width: 100%;
		}
	}
}
