$text-color: rgba(238, 234, 234, 0.877);
$pd: 0.7em;
$mx-h: 400px;

.doc-intro {
	color: $text-color;

	max-height: $mx-h;

	padding: $pd;

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.3em;

		padding-bottom: 1em;
		color: white;
	}

	&__link {
		color: unset;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
