.doc-list-page {
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		color: rgba(255, 255, 255, 0.74);
	}
}
