$p: 0.7em;

.doc-update-page {
	margin: 0;
	padding: 0.7em;
	&__title {
		text-align: center;

		padding-top: 1.6em;

		&__load-notifice {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.25em;
		}
	}
}
