$c-input: rgba(112, 9, 73, 0.582);
$max-w: 500px;

$bg-load: rgba(22, 22, 22, 0.473);
$bg-load-ligth: rgba(22, 22, 22, 0.267);

.mform {
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
	}

	&__field {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			width: 100%;

			// max-width: $max-w;
		}
		&__input {
			margin-top: 5px;
			background-color: rgba(112, 9, 73, 0.582);

			outline: none;
			border: none;
			border-top: 2px solid rgba(207, 205, 205, 0.158);
			border-right: 2px solid rgba(207, 205, 205, 0.158);
			border-left: 2px solid rgba(34, 33, 33, 0.699);
			border-bottom: 2px solid rgba(34, 33, 33, 0.699);
			border-radius: 5px;

			width: 100%;
			padding: 5px;
			// max-width: $max-w;
			min-width: 35px;

			color: white;
			font-size: 16px;
			font-family: "Times New Roman", Times, serif;

			resize: vertical;
		}

		&__error {
			width: 100%;
			text-align: left;
			color: red;
			font-size: 14px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 0.6em;

		&__btn-container {
			display: flex;
			justify-content: flex-end;
			gap: 0.5em;
		}
	}
}

.mform--loading {
	&__title {
		width: 100%;
		height: 60px;
		background-color: $bg-load;
	}
	&__field {
		&__label {
			width: 100%;
			height: 30px;

			margin-bottom: 10px;
			background-color: $bg-load;
		}
		&__input {
			width: 100%;
			height: 40px;
			background-color: $bg-load;
			// background-color: red;
		}

		&__input--big {
			width: 100%;
			height: 100px;
			background-color: $bg-load;
		}
	}
	&__btn-container {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;

		margin-top: 10px;

		&__btn {
			border-radius: 5px;
			width: 90px;
			height: 40px;
			background-color: $bg-load;
		}
	}
	&__animation {
		animation: load 1s linear infinite;
	}
}

@keyframes load {
	0% {
		background-color: $bg-load;
	}
	50% {
		background-color: $bg-load-ligth;
	}
	100% {
		background-color: $bg-load;
	}
}
