.todo-calendar-row {
	&__date {
		display: grid;
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: auto;

		margin: 0;
		padding: 0;

		list-style: none;

		li {
			padding: 2px 0;
			grid-column: span 2;

			text-align: center;

			cursor: pointer;
		}
		li:hover {
			background-color: rgba(136, 9, 104, 0.387);
		}
		&__blur {
			color: rgb(182, 171, 171);
		}
	}

	&__note {
		display: grid;
		row-gap: 3px;
	}
}
