.todo-calendar-row {
	&__date {
		display: grid;
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: auto;

		margin: 0;
		padding: 0;

		list-style: none;

		li {
			grid-column: span 2;

			text-align: center;
		}
		&__blur {
			color: rgb(182, 171, 171);
		}
	}

	&__note {
		display: grid;
		row-gap: 3px;
	}
}
