$bg: rgba(0, 0, 0, 0.596);
$bg2: rgba(0, 0, 0, 0.281);

.doc-main {
	border-radius: 5px;
	background-color: $bg;

	padding-bottom: 3em;
	margin-bottom: 3em;
	// &__content {
	// 	border-top: 2px solid rgba(112, 111, 111, 0.247);
	// }

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
