$bg: rgba(0, 0, 0, 0.596);
$bg-active: rgba(163, 23, 81, 0.418);
$text-color: rgba(216, 211, 211, 0.644);
.doc-header {
	&__list {
		list-style: none;
		padding: 0px;
		margin: 0;

		&__item {
			width: 100%;
			padding: 6px 0;

			text-decoration: none;
			text-align: center;

			color: $text-color;

			cursor: pointer;
			&:not(:last-child):hover {
				background-color: $bg-active;
				color: white;
			}
			&--active {
				background-color: $bg-active;
				color: white;
			}
			&--load {
				display: flex;
				align-items: center;
				gap: 0.3em;
				justify-self: start;
				padding: 6px 6px;
				color: $text-color;
			}
		}
		&__right-bar-btn {
			grid-column: 11 / span 2;
			@media screen and (max-width: 415px) {
				grid-column: 9 / span 4;
			}
		}
	}
}
