$bd-color-dark: rgba(34, 33, 33, 0.699);
$bd-color-light: rgba(207, 205, 205, 0.158);
$bg-color: rgba(112, 9, 73, 0.582);

.doc-input-field {
	&__label {
	}
	&__input {
		margin-top: 5px;
		background-color: rgba(112, 9, 73, 0.582);

		outline: none;
		border: none;
		border-top: 2px solid $bd-color-light;
		border-right: 2px solid $bd-color-light;
		border-left: 2px solid $bd-color-dark;
		border-bottom: 2px solid $bd-color-dark;
		border-radius: 5px;

		width: 100%;
		padding: 5px;
		max-width: 100%;
		min-width: 35px;

		color: white;
		font-size: 18px;
		font-family: "Times New Roman", Times, serif;

		resize: vertical;

		&:focus {
			background-color: rgba(126, 18, 85, 0.582);
		}
	}

	&__error {
		color: red;
		font-size: 14px;
	}

	& ~ & {
		margin-top: 0.5em;
	}
}
