$bg: rgba(0, 0, 0, 0.596);
.auth {
	background-color: $bg;

	padding: 0.5em;
	padding-bottom: 2em;

	// opacity: 0.5;

	&__form {
		&__header {
			text-align: center;
		}

		&__btn {
			font-size: 14px;
			margin-top: 2em;
			width: 100%;
		}
	}

	&__login {
	}

	&__register {
	}
}
