$pd: 16px;
$h: 53px;
.header {
	background-color: transparent;
	color: white;
	height: $h;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__right {
			padding: $pd;
		}
	}
}
