$pd: 16px;
$bc: rgba(32, 31, 31, 0.733);
$mobileMaxSize: 500px;
$mobile-p: 0.5em;
// --mobileMaxSize : 500px
// --itemNumber: 6
.header-page-list {
	display: flex;
	align-items: center;
	position: relative;

	&__menu-icon {
		font-size: 22px;
		cursor: pointer;
	}

	&__list {
		display: flex;

		&--mobile {
			flex-direction: column;
		}

		&__item {
			flex-shrink: 0;

			padding: $pd;

			border-radius: 3px;

			cursor: pointer;

			color: white;
			text-decoration: none;

			&--close {
				display: none;
			}

			&:first-child {
				padding-left: 0;
			}

			&:not(:first-child):hover {
				background-color: $bc;

				color: red;
			}
			&--icon {
				padding-left: 0;

				&:hover {
					background-color: transparent;

					color: white;
				}
			}

			&--active:not(:first-child) {
				background-color: $bc;

				color: red;
			}
		}
	}
}

@media only screen and (max-width: #{$mobileMaxSize}) {
	.header-page-list {
		&__menu-icon {
			padding-left: $mobile-p;
		}

		&__list {
			flex-direction: column;
			background-color: $bc;

			position: fixed;
			z-index: 20;
			top: 0;
			left: 0;

			width: 100vw;
			height: 100vh;

			&__item {
				display: flex;
				align-items: center;
				justify-content: center;

				height: 100px;

				height: calc(100vh / var(--itemNumber));
			}
		}
	}
}
