$pd: 16px;
$h: 53px;
.header {
	background-color: transparent;
	color: white;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: top;

		&__right {
			padding: $pd;
			height: 53px;
		}
	}
}
