.main-layout__container {
	background-image: linear-gradient(to right, #c464fd, #c6519e, #ff61b8);
	width: 100vw;
	// background-color: red;

	.main-layout {
		background-image: url("gameBackground.jpg");
		// background-image: url("backgroundMobile.jpg");
		object-fit: cover;
		background-repeat: no-repeat;
		background-size: 100% calc(100vw / 1.741574);
		height: 100vh;

		&__content {
			margin-top: 70px;
			padding-bottom: 4em;
		}
	}
	@media screen and (max-width: 500px) {
		.main-layout {
			background-image: url("backgroundMobile.jpg");
			background-size: cover;
		}
	}
}
