.main-layout {
	background-color: white;
	height: 100vh;

	background-image: url("https://thuongvachon.web.app/gameBackground.jpg");
	// background-position: ;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: contain;
}
