$bc: rgba(22, 22, 22, 0.192);
.text-editor {
	overflow: hidden;
	// position: relative;
}

// Container
.sun-editor {
	background-color: $bc;
	border: none;
}

// Toolbar
.sun-editor .se-toolbar {
	// background-color: $bc;
}

// Input
.sun-editor-editable {
	// color: rgba(255, 255, 255, 0.733);
	background-color: $bc;
	color: white;
}

/* QUOTE */
// Text color
.sun-editor-editable * {
	color: rgba(255, 255, 255, 0.801);
}
// boder-left
.sun-editor-editable blockquote {
	border-left-color: orange;
}

// buttom bar
.sun-editor .se-resizing-bar {
	// background-color: $bc;
	// border: none;
	display: none;
}
